<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="serviceWithFactoryMethod" class="com.example.core.spring.ServiceWithFactoryMethod" factory-method="getInstance"/>
	<bean name="serviceFactory" class="com.example.core.spring.ServiceFactory"/>
	<bean name="serviceWithFactoryBean" class="com.example.core.spring.ServiceWithFactoryBean" factory-bean="serviceFactory" factory-method="getInstance"/>

</beans>
